#bag{
	background-size:contain|cover;
	width:25%;
	height:500px;
	background: url(../img/bag.png) center no-repeat;
	margin: 0 auto;
}
#bag.burst{
	background: url(../img/bag-burst.png) center no-repeat;
}


#bag-health{
	width: 20%;
	border: 2px solid black;
	margin: 40px auto;
}

#bag-health div{
	background: red;
	height: 30px;
}

#controls{
	width: 20%;
	margin: 0 auto;
	
}

#controls button{
	font-size: 30px;
	width: 60%;
	margin-left: 20%;
	margin-bottom: 20px;
	height: auto;
	color: #fff;
	background: gray;
	border: 1px solid #fff;
	border-radius: 6px;}

